{
  "extends": "airbnb",
  "plugins": [
    "react",
    "import",
    "prettier",
    "jest"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": "error",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "jsx-a11y/anchor-is-valid": "warn",
    "comma-dangle": "off",
    "lines-between-class-members": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",
    "object-curly-newline": "off",
    "import/prefer-default-export": "off",
    "no-restricted-syntax": "off",
    "arrow-parens": "off",
    "camelcase": "off",
    "react/jsx-fragments": "off",
    "operator-linebreak": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "implicit-arrow-linebreak": "off",
    "max-len": "off",
    "import/extensions": "off",
    "react/no-array-index-key": "off",
    "import/no-unresolved": "off",
    "no-use-before-define": "off"
  },
  "globals": {
    "document": "readonly",
    "window": "readonly",
    "navigator": "readonly",
    "fetch": "readonly"
  },
  "env": {
    "jest/globals": true
  }
}